.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-height: 400px;
  background-color: white;
  z-index: 1;
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  border: 1px solid;
  margin-top: 10px;
  border-color: #c27779;
  color: white;
  font-weight: 700;
  transition: all 0.5s;
  background: rgb(170, 49, 62);
  background: linear-gradient(
    71deg,
    rgba(170, 49, 62, 1) 5%,
    rgba(217, 173, 169, 1) 95%
  );
}

.product__price {
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}

.product__info {
  height: 100 px;
  margin-bottom: 15px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:hover {
  background-color: rgb(228, 228, 228);
  border-radius: 3px;
  color: rgba(74, 8, 8, 0.911);
  opacity: 7;
  transition: all 0.01s;
}
